<section class="maincontainer">

    <div class="container ">
        <div class="row">
            <div class="col">
                1 of 2
            </div>
            <div class="col">


                <div class="card">
                    <div class="card-body">

                        <div class="logo">
                            <img src="../../assets/Logo 1.png" class="img-fluid" alt="...">
                        </div>


                        <div class="login">
                            <div class="header">
                                <h2>
                                    Log in
                                </h2>
                                <div class="bodytext">
                                    <label class="btext" for="">Don’t have an account?</label>

                                    <button type="button" class="btn btn-link">
                                        <div class="btntext">
                                            Register
                                        </div>
                                    </button>

                                </div>

                                <div class="main-containt">
                                    <div class="input">
                                        <div class="text-field">
                                            <div class="Text-header">
                                                <div class="text-header-title">
                                                    EMAIL ADDRESS
                                                </div>
                                            </div>
                                            <!-- <label for="exampleInputEmail1" class="form-label">Email address</label> -->
                                            <div class="Content">
                                                <div class="content-title">Your Email</div>
                                                <!-- <input type="email" placeholder="Your Email" class=" form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> -->
                                                <img src="../../assets/Vector.png" class="img-fluid" alt="...">
                                                <div class="mail">
                                                    <div class="Vector"> </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="text-field">
                                            <div class="Text-header">
                                                <div class="text-header-title">
                                                    PASSWORD
                                                </div>
                                            </div>
                                            <!-- <label for="exampleInputEmail1" class="form-label">Email address</label> -->
                                            <div class="Content">
                                                <div class="content-title">Your Password</div>
                                                <!-- <input type="email" placeholder="Your Email" class=" form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> -->
                                                <img src="../../assets/Vector1.png" class="img-fluid" alt="...">
                                                <div class="mail">
                                                    <div class="Vector"> </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="Errortext">
                                            Must be at least 8 characters.
                                        </div>

                                        
                                    </div>
                                    <div class="rememerText">
                                        <input class="check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                        <div class="rtext"><div class="rtexttitle">Remember me</div> </div>
                                        <button type="button" class="btn btn-link1">
                                            <div class="btntext1">
                                                Forgot Password
                                            </div>
                                        </button>
                                    </div>

                                </div>
                                <button type="button" class="btn btn-primary">Log in</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>